/* class -2  */

/* .hadding-three{
    color: orange;
} */

/* ======================================= 3 */

.pragrap_lorem{
    background-color: blue;
    color: white;
}
body{
    background-image: url(imges/wp2599602.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}